@font-face{
    font-family: myfonts;
    src:url(fonts.ttf.otf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfonts;
    color: whitesmoke;
}

body{
   background: white;
   height: 100vh;
}

.header {
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    background: #3385ff;
}
.header img{
    height : 50px;
    scale: 1;
    filter: saturate(6);
    transition: .5s ease-out;   
}

.header img:hover{
    filter: saturate(6);
    scale: 1.1;
}

.navbar a{
    color: whitesmoke;
    margin-left: 35px;
    font-family: myfonts;
    font-size: 21px;
    cursor: pointer ;
    position: relative;  
}

.navbar a::before{
    scale: 0.9;
    transition: 0.5s ease;
}

.navbar a:hover::before{
    scale: 1.1;
}

section{
    padding : 10rem 9% 2rem;
    height: 100%;
    width: 100%;
}

.basicInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content{
    max-width: 600px;
    
}

.text-content h1{
    color: #1a90ff;
    font-size: 50px;
    font-weight: 550;
    padding: 5px;
}

#isagi{
    height: 650px;
    filter: drop-shadow(0 0 2px #3385ff);
    z-index: -3;
}

.text-content p{
    color: black;
    font-size: 30px;
}

.button{
   
    margin: 20px 0px;
}

.btn{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin:15px;
    padding: 6px;
    height: 45px;
    width: 150px;
    background: #3385ff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid #4f83b4;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.about{
    background: #3385ff;
    height: 990px;
    width: 100%;
    text-align: center;
    align-items: start;
    padding: 60px;
}

.about .heading {
    height: 10px;
    width: 100%;
    font-size: 105px;
    font-weight: 500;
    animation: popup 1s ease-in;
}

@keyframes popup{
    0%{
        scale: 0.3;
    }
    100%{
        scale: 1;
    }
}

.about .content img{
    height: 700px;
}

.about .content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.about .content .text h2{
    font-size: 110px;
}

#egoist{
    color: black;
}

.about .content .text h3{
    color: black;
    font-size: 50px;
}

.about .content .text{
    width: 1500px;
    padding: 150px;
}

.about .content .text p{
    padding: 10px;
    font-weight: 500;
    font-size: 30px;
}

.players .heading{
    font-size: 110px;
    color: #3385ff;
    text-align: center;
}

.players .content  h1{
    font-size: 67px;
    color: rgb(31, 40, 143);
    text-align: center;
    padding-bottom: 12px;
}

.players .content p{
    font-size: 35px;
    color: black;
    
    
}

.players .content{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.players .content img{
    height: 700px;
}

.players {
    height: 1200px;
    
}

.players2 .heading{
    font-size: 110px;
    color: black;
    text-align: center;
}

.players2 .content  h1{
    font-size: 67px;
    color: black;
    text-align: center;
    padding-bottom : 12px;
}

.players2 .content p{
    font-size: 35px;
    color: whitesmoke;
    padding-left: 60px;
    margin-left: 10px;
}

.players2 .content{
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 85%;
}

.players2 .content img{
    height: 700px;
    margin-left: 100px;
}

.players2 {
    height: 1200px;
    background: #3385ff;
}
